body {
    background-color: slategrey;
}

.guesses {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    height: 375px;
    margin-top: -300px;
}

.display {
    background-color: lightsteelblue;
    display: flex;
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

.input {
    background-color: lightsteelblue;
    display: flex;
    width: 700px;
    height: 175px;
    margin: 0 auto;
}

.sub-guesses {
    background-color: white;
    width: 45px;
    height: 45px;
}
