body {
    background-color: slategrey;
}

.guesses-container {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    height: 375px;
    margin-top: -300px;
}

.display-container {
    background-color: lightsteelblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

.input-container {
    background-color: lightsteelblue;
    display: flex;
    width: 700px;
    height: 175px;
    margin: 0 auto;
}

.sub-guesses {
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 28px;
    font-size: 35px;
}

.guesses {
    background-color: white;
    width: 140px;
    height: 35px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 28px;
    font-size: 20px;
}

.sub-input {
    width: 110px;
    height: 110px;
    margin: 10px;
    margin-top: 25px;
    font-size: 90px; 
}



.sub-display {
    background-color: white;
    height: 120px;
    width: 300px;
    margin: 0 auto;
    margin-top: 0px;
    font-size: 20px;
}

.img-container {
    background-color: white;
    height: 150px;
    width: 575px;
    margin: 0 auto;
    margin-top: 15px;
}

.images {
    height: 240px;
    width: 400px;
    margin-top: -70px;
    margin-left: 135px;
}

#img2 {
    display: none;
}

#img3 {
    display: none;
}

#img4 {
    display: none;
}

#img5 {
    display: none;
}

#img6 {
    display: none;
}