body {
    background-color: slategrey;
}

.guesses {
    background-color: lightsteelblue;
    display: flex;
    width: 200px;
    height: 375px;
    margin-top: -300px;
}

.display {
    background-color: lightsteelblue;
    display: flex;
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

.input {
    background-color: lightsteelblue;
    display: flex;
    width: 700px;
    height: 175px;
    margin: 0 auto;
}
